* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 background: rgb(30, 143, 114);
 background: linear-gradient(
  90deg,
  rgba(30, 143, 114, 1) 0%,
  rgba(82, 204, 174, 1) 14%,
  rgba(105, 226, 198, 1) 26%,
  rgba(93, 212, 223, 1) 67%,
  rgba(16, 162, 191, 1) 98%
 );
}

.game-container {
 position: relative;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 3rem;
 background-color: rgb(210, 230, 187);
 border-radius: 25px;
 padding: 40px 60px;
}

h1 {
 font-size: 3rem;
 color: black;
 text-transform: uppercase;
 letter-spacing: -0.5px;
}

.reset {
 padding: 15px 20px;
 color: rgb(2, 2, 2);
 background-color: azure;
 font-size: 1.5rem;
 border-radius: 25px;
 letter-spacing: -0.5px;
 text-transform: uppercase;
}

.reset:focus {
 color: azure;
 background-color: rgb(2, 2, 2);
}

.game {
 width: 450px;
 height: 450px;
 display: flex;
 flex-wrap: wrap;
 gap: 10px;
 transform-style: preserve-3d;
 perspective: 500px;
}

.item {
 position: relative;
 width: 100px;
 height: 100px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 3rem;
 background-color: #fff;
 transition: 0.25s;
}

.item.boxOpen {
 transform: rotateY(0deg);
}

.item::after {
 content: "";
 position: absolute;
 inset: 0;
 background-color: antiquewhite;
 transition: 0.25s;
 transform: rotateY(0deg);
 backface-visibility: hidden;
}

.boxOpen:after,
.boxMatch:after {
 transform: rotateY(180deg);
}
